.App{
  display: flex;
  justify-content: center;
}

.wrapper{
  width: 840px;
  height: 900px;
  background-color: indianred;
}

.header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 75px;
}

.header__navigation{
  width: 390px;
  display: flex;
  justify-content: space-between;
}

.header__navigation > a{
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  font-family: "Tahoma";
  font-weight: bold;
}

.mainContent__head{
  height: 268px;
  background-color: #f0f0f0; 
}
